<div id="UpcartPopup" data-internal-properties="country=GB;currency=GBP;clientLocalizationCountry=GB" style="--upcart-internal-global-button-background-color: #000000; --upcart-internal-global-button-text-color: #FFFFFF; --upcart-internal-global-button-text-hover-color: #e9e9e9; --upcart-internal-global-button-border-radius: 0px; --upcart-internal-desktop-cart-width: 440px; --upcart-internal-mobile-cart-width: 100%; --upcart-internal-header-border-bottom: 1px solid rgba(0, 0, 0, 0.1); --upcart-internal-desktop-header-padding-block: 12px; --upcart-internal-mobile-header-padding-block: 12px; --upcart-internal-header-background-color: #ffffff00; --upcart-internal-header-title-margin-inline: 0; --upcart-internal-header-flex-direction: row; --upcart-internal-header-title-offset-direction-sign: 1; --upcart-internal-header-close-button-size: 30px; --upcart-internal-header-close-button-background-color: #0000000c; --upcart-internal-header-close-button-background-color-hover: #00000014; --upcart-internal-header-close-button-icon-color: #637381; --upcart-internal-header-close-button-icon-size: 33%; --upcart-internal-header-close-button-border-width: 0; --upcart-internal-header-close-button-border-color: #000000; --upcart-internal-desktop-announcement-padding-block: 10px; --upcart-internal-mobile-announcement-padding-block: 10px; --upcart-internal-announcement-text-font-size: 15px; --upcart-internal-design-text-color: #000000; --upcart-internal-design-accent-color: #f6f6f7;" class="upcartPopupShow"><style jsx="true" global="true">
        
          :host {
            all:initial;

            font: inherit;
            font-family: inherit;
            font-size: inherit;
            font-style: inherit;
            font-weight: inherit;
            letter-spacing: inherit;
            line-height: inherit;
            text-align: inherit;
            text-indent: inherit;
            text-justify: inherit;
            text-shadow: inherit;
            text-transform: inherit;
            word-spacing: inherit;
          }

        button.UpcartDesignSettings__button,
        input.UpcartDesignSettings__button,
          .UpcartDesignSettings__button,
        .UpcartDesignSettings__button span,
        .UpcartDesignSettings__button:visited {
          background: #000000;
          color: #FFFFFF;
          border-radius: var(--upcart-internal-global-button-border-radius);
        }

        .UpcartDesignSettings__buttonLoadingIcon {
          border: 2px solid #FFFFFF;
          border-top: 2px solid transparent;
        }

        .UpcartDesignSettings__buttonLoadingIcon--dark {
          border: 2px solid #000000;
          border-top: 2px solid transparent;
          opacity: 0.5;
        }

        .UpcartDesignSettings__discountBadge {
          background: #000000;
        }
        .UpcartDesignSettings__discountBadge p {
          color: #FFFFFF !important;
        }
        .UpcartDesignSettings__discountBadge svg {
          color: #FFFFFF;
        }

        button.UpcartDesignSettings__button:hover span,
        input.UpcartDesignSettings__button:hover,
        .UpcartDesignSettings__button:hover,
        .UpcartDesignSettings__button:hover span {
          color: #e9e9e9 !important;
        }

        .UpcartDesignSettings__backgroundColor > div {
          background: #FFFFFF;
        }
        .UpcartDesignSettings__cartAccentColor {
          background: #f6f6f7;
        }
        .DesignSettings__cartAccentColor > div.Polaris-Card {
          background: #f6f6f7;
        }

        /* CartTextColor */
        .UpcartDesignSettings__cartTextColor {
          color: #000000;
        }
        .UpcartDesignSettings__cartTextSubduedColor {
          color: #000000;
          opacity: 0.4;
        }

        /* CartSavingsTextColor */
        .UpcartDesignSettings__cartSavingsTextColor {
          color: #2ea818;
        }

        /* SubtotalTextColor */
        .UpcartDesignSettings__subtotalTextColor {
          color: #000000;
        }
        .UpcartDesignSettings__subtotalSubduedColor {
          color: #000000;
          opacity: 0.4;
        }
      </style><div id="CartPopup" class="upcart-cart styles_CartPreview__ styles_CartPreview__right__ styles_CartPreview__position-fixed__ UpcartDesignSettings__backgroundColor styles_active__" data-scrollable="true" style="height: 915px;"><div class="styles_CartPreview__card__"><div><div class="styles_Header__ UpcartDesignSettings__cartTextColor upcart-header"><h3 class="upcart-header-text" data-internal-properties="hasNonDefaultTitleAlignment=false" tabindex="0" aria-label="Cart • 1">Cart • 1</h3><div class="upcart-header-close-button styles_Header__closeButton__" data-internal-properties="hasBackgroundHoverColor=true;hasBorderHoverColor=false" role="button" aria-label="Close cart" tabindex="0"><svg class="upcart-header-close-button-icon styles_Header__closeButtonIcon__" viewBox="0 0 20 20" data-internal-properties="hasIconHoverColor=false;hasNonDefaultIconStrokeWidth=false"><path d="m11.414 10 6.293-6.293a1 1 0 1 0-1.414-1.414l-6.293 6.293-6.293-6.293a1 1 0 0 0-1.414 1.414l6.293 6.293-6.293 6.293a1 1 0 1 0 1.414 1.414l6.293-6.293 6.293 6.293a.998.998 0 0 0 1.707-.707.999.999 0 0 0-.293-.707l-6.293-6.293z"></path></svg></div></div></div><div class="upcart-cart-body styles_CartPreview__body__" style="flex-grow: 1; overflow-y: auto;"><div class="upcart-external-integration abra-integration abra-upcart-tiers" data-render-state="0" style="display: none;"></div><div class="styles_skeleton__ upcart-rewards-skeleton upcart-skeleton" style="display: none; flex-direction: column; align-items: center; gap: 25px; padding: 23px 10px 35px;"><div class="styles_shimmer__ upcart-rewards-message-skeleton styles_textMedium__" style="width: 60%;"></div><div class="styles_shimmer__ upcart-rewards-bar-skeleton styles_textSmall__" style="width: 90%;"></div></div><div><div class="upcart-rewards styles_TieredRewards__ UpcartDesignSettings__cartTextColor"><div class="upcart-rewards-message">Free shipping unlocked!</div><div class="upcart-rewards-bar-background styles_TieredRewards__progressBar__" style="background-color: rgb(226, 226, 226);"><div class="upcart-rewards-bar-foreground styles_Rewards__progressBar--progress__" style="background-color: rgb(147, 211, 255); width: 100%;"></div></div><div class="styles_TieredRewards__tiersContainer__"><div></div><div class="upcart-rewards-tier styles_TieredRewards__tierCircleAndDescription__ styles_TieredRewards__tierCircleAndDescription--leftOfCenter__"><div class="upcart-rewards-tier-circle styles_TieredRewards__tierCircle__" style="fill: rgb(226, 226, 226); background-color: rgb(147, 211, 255);"><div class="upcart-rewards-tier-icon" style="width: 25px; height: 25px; margin: auto;"><svg viewBox="0 0 20 20"><path d="M13 8a1 1 0 1 0 0-2 1 1 0 0 0 0 2Z"></path><path fill-rule="evenodd" d="M11.276 3.5a3.75 3.75 0 0 0-2.701 1.149l-4.254 4.417a2.75 2.75 0 0 0 .036 3.852l2.898 2.898a2.5 2.5 0 0 0 3.502.033l4.747-4.571a3.25 3.25 0 0 0 .996-2.341v-2.187a3.25 3.25 0 0 0-3.25-3.25h-1.974Zm-1.62 2.19a2.25 2.25 0 0 1 1.62-.69h1.974c.966 0 1.75.784 1.75 1.75v2.187c0 .475-.194.93-.536 1.26l-4.747 4.572a1 1 0 0 1-1.401-.014l-2.898-2.898a1.25 1.25 0 0 1-.016-1.75l4.253-4.418Z"></path></svg></div></div><div class="upcart-rewards-tier-description styles_rewardsDescription__">Free Shipping</div></div><div class="upcart-rewards-tier styles_TieredRewards__tierCircleAndDescription__ styles_TieredRewards__tierCircleAndDescription--leftOfCenter__"><div class="upcart-rewards-tier-circle styles_TieredRewards__tierCircle__" style="fill: rgb(226, 226, 226); background-color: rgb(147, 211, 255);"><div class="upcart-rewards-tier-icon" style="width: 25px; height: 25px; margin: auto;"><svg viewBox="0 0 20 20"><path d="M13 8a1 1 0 1 0 0-2 1 1 0 0 0 0 2Z"></path><path fill-rule="evenodd" d="M11.276 3.5a3.75 3.75 0 0 0-2.701 1.149l-4.254 4.417a2.75 2.75 0 0 0 .036 3.852l2.898 2.898a2.5 2.5 0 0 0 3.502.033l4.747-4.571a3.25 3.25 0 0 0 .996-2.341v-2.187a3.25 3.25 0 0 0-3.25-3.25h-1.974Zm-1.62 2.19a2.25 2.25 0 0 1 1.62-.69h1.974c.966 0 1.75.784 1.75 1.75v2.187c0 .475-.194.93-.536 1.26l-4.747 4.572a1 1 0 0 1-1.401-.014l-2.898-2.898a1.25 1.25 0 0 1-.016-1.75l4.253-4.418Z"></path></svg></div></div><div class="upcart-rewards-tier-description styles_rewardsDescription__">Cool Product</div></div><div class="upcart-rewards-tier styles_TieredRewards__tierCircleAndDescription__ styles_TieredRewards__tierCircleAndDescription--leftOfCenter__"><div class="upcart-rewards-tier-circle styles_TieredRewards__tierCircle__" style="fill: rgb(226, 226, 226); background-color: rgb(147, 211, 255);"><div class="upcart-rewards-tier-icon" style="width: 25px; height: 25px; margin: auto;"><svg viewBox="0 0 20 20"><path d="M13 8a1 1 0 1 0 0-2 1 1 0 0 0 0 2Z"></path><path fill-rule="evenodd" d="M11.276 3.5a3.75 3.75 0 0 0-2.701 1.149l-4.254 4.417a2.75 2.75 0 0 0 .036 3.852l2.898 2.898a2.5 2.5 0 0 0 3.502.033l4.747-4.571a3.25 3.25 0 0 0 .996-2.341v-2.187a3.25 3.25 0 0 0-3.25-3.25h-1.974Zm-1.62 2.19a2.25 2.25 0 0 1 1.62-.69h1.974c.966 0 1.75.784 1.75 1.75v2.187c0 .475-.194.93-.536 1.26l-4.747 4.572a1 1 0 0 1-1.401-.014l-2.898-2.898a1.25 1.25 0 0 1-.016-1.75l4.253-4.418Z"></path></svg></div></div><div class="upcart-rewards-tier-description styles_rewardsDescription__">Cool Product</div></div></div></div></div><div class="styles_skeleton__ upcart-product-item-skeleton upcart-skeleton" style="display: none; flex-direction: row; gap: 30px; justify-content: space-between; padding: 20px 30px;"><div class="styles_imageLarge__ upcart-product-image-skeleton styles_shimmer__"></div><div style="display: flex; flex-direction: column; justify-content: space-between; flex-grow: 1;"><div style="display: flex; flex-direction: column; gap: 8px;"><div class="styles_shimmer__ upcart-product-title-skeleton styles_textLarge__"></div><div class="styles_shimmer__ upcart-item-option-skeleton styles_textSmall__" style="width: 70%;"></div></div><div class="styles_shimmer__ upcart-product-quantity-skeleton" style="width: 50%; height: 30px;"></div></div><div class="upcart-product-price-container-skeleton" style="width: 25%; display: flex; flex-direction: column; gap: 8px; justify-content: flex-end; align-items: flex-end;"><div class="styles_shimmer__ styles_textMedium__" style="width: 100%;"></div><div class="styles_shimmer__ styles_textMedium__" style="width: 100%;"></div><div class="styles_shimmer__ styles_textMedium__" style="width: 80%;"></div><div class="styles_shimmer__"></div></div></div><div class="upcart-products-section"><div class="styles_ProductRow__product__ upcart-product-item " id="51572920287571:e573ac8f580ebe29a0ba51123b4031cb"><div class="Stack Stack--distributionLeading Stack--spacingLoose"><div class="Stack__item"><div class="upcart-product-image-wrapper styles_ProductRow__imageWrapper__"><a href="/products/the-collection-snowboard-liquid?variant=51572920287571" data-no-pointer="false" aria-label="The Collection Snowboard: Liquid"><img src="https://cdn.shopify.com/s/files/1/0980/1986/9011/files/Main_b13ad453-477c-4ed1-9b43-81f3345adfd6.jpg?v=1754472965&amp;height=176" alt="The Collection Snowboard: Liquid"></a></div></div><div class="Stack__item Stack__item--fill"><div class="styles_ProductRow__productHeading__"><div class="styles_ProductRow__productTitleAndVariant__"><h3 class="upcart-product-title UpcartDesignSettings__cartTextColor styles_ProductRow__productTitle__"><a class="upcart-product-title-link styles_ProductRow__productTitleLink__" href="/products/the-collection-snowboard-liquid?variant=51572920287571" data-no-pointer="false">The Collection Snowboard: Liquid</a></h3><div class="upcart-item-properties-anchor-before"></div><div class="upcart-item-properties-anchor-after"></div></div><div><div class="styles_TrashButton__deleteButton__"><svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.28125 3.28125L3.86719 12.6562C3.89502 13.1979 4.28906 13.5938 4.80469 13.5938H10.1953C10.713 13.5938 11.0997 13.1979 11.1328 12.6562L11.7188 3.28125" stroke="#8F8F8F" stroke-width="0.9375" stroke-linecap="round" stroke-linejoin="round"></path><path d="M2.34375 3.28125H12.6562H2.34375Z" fill="#8F8F8F"></path><path d="M2.34375 3.28125H12.6562" stroke="#8F8F8F" stroke-width="0.9375" stroke-miterlimit="10" stroke-linecap="round"></path><path d="M9.60938 5.15625L9.375 11.7188M5.625 3.28125V2.10938C5.62473 2.01697 5.64273 1.92541 5.67797 1.83998C5.71321 1.75455 5.76499 1.67693 5.83034 1.61159C5.89568 1.54624 5.9733 1.49446 6.05873 1.45922C6.14416 1.42398 6.23571 1.40598 6.32812 1.40625H8.67188C8.76429 1.40598 8.85584 1.42398 8.94127 1.45922C9.0267 1.49446 9.10432 1.54624 9.16966 1.61159C9.23501 1.67693 9.28679 1.75455 9.32203 1.83998C9.35727 1.92541 9.37527 2.01697 9.375 2.10938V3.28125H5.625ZM7.5 5.15625V11.7188V5.15625ZM5.39062 5.15625L5.625 11.7188L5.39062 5.15625Z" stroke="#8F8F8F" stroke-width="0.9375" stroke-linecap="round" stroke-linejoin="round"></path></svg></div></div></div><div><div class="Stack Stack--distributionEqualSpacing Stack--alignmentCenter"><div class="Stack__item"><div class="styles_ProductRow__stepper__" style="border-radius: var(--upcart-internal-global-button-border-radius);"><div class="styles_QuantityField__"><button class="upcart-product-quantity-minus styles_button__ styles_quantityMinus__" aria-label="Decrease quantity" style="border-top-left-radius: var(--upcart-internal-global-button-border-radius); border-bottom-left-radius: var(--upcart-internal-global-button-border-radius);"><svg viewBox="0 0 20 20"><path fill-rule="evenodd" d="M5 10c0-.414.336-.75.75-.75h8.5c.414 0 .75.336.75.75s-.336.75-.75.75h-8.5c-.414 0-.75-.336-.75-.75Z"></path></svg><span class="upcart-internal-visually-hidden">Decrease quantity</span></button><input class="upcart-product-quantity-input js-qty__num styles_quantityInput__" maxlength="4" aria-label="Product quantity" type="number" min="0" max="9999" value="1"><button class="upcart-product-quantity-plus styles_button__ styles_quantityPlus__" aria-label="Increase quantity" style="border-top-right-radius: var(--upcart-internal-global-button-border-radius); border-bottom-right-radius: var(--upcart-internal-global-button-border-radius);"><svg viewBox="0 0 20 20"><path d="M10.75 5.75c0-.414-.336-.75-.75-.75s-.75.336-.75.75v3.5h-3.5c-.414 0-.75.336-.75.75s.336.75.75.75h3.5v3.5c0 .414.336.75.75.75s.75-.336.75-.75v-3.5h3.5c.414 0 .75-.336.75-.75s-.336-.75-.75-.75h-3.5v-3.5Z"></path></svg><span class="upcart-internal-visually-hidden">Increase quantity</span></button></div></div></div><div class="Stack__item" style="margin-left: auto;"><div class="styles_ProductRow__price__"><div class="upcart-item-prices-row styles_ProductRow__priceRow__"><span class="upcart-do-not-modify-this-node-please-only-modify-child-node"><span class="upcart-item-price UpcartDesignSettings__cartTextColor styles_ProductRow__ProductPrice__">£749.95</span></span></div></div></div></div></div></div></div></div></div><div class="styles_CartPreview__bottomModules__"><div class="styles_skeleton__ upcart-upsells-module-skeleton upcart-skeleton" style="display: none; flex-direction: column; gap: 20px; padding: 30px 40px; align-items: center;"><div class="styles_shimmer__ upcart-upsells-title-skeleton styles_textMedium__" style="width: 35%;"></div><div style="display: flex; flex-direction: row; gap: 20px; width: 100%;"><div class="styles_shimmer__ upcart-upsell-item-image-skeleton styles_imageLarge__"></div><div style="display: flex; flex-direction: column; gap: 6px; flex-grow: 1;"><div class="styles_shimmer__ upcart-upsell-item-title-skeleton styles_textMedium__" style="width: 60%;"></div><div class="styles_shimmer__ upcart-upsell-item-price-skeleton styles_textMedium__" style="width: 20%;"></div><div class="styles_shimmer__ upcart-upsells-button-skeleton" style="width: 100%; height: 30px;"></div></div></div></div><div></div></div></div><div><div class="styles_Footer__ UpcartDesignSettings__cartAccentColor upcart-footer"><div class="styles_skeleton__ upcart-checkout-button-container-skeleton upcart-skeleton" style="display: none;"><div class="styles_shimmer__ upcart-checkout-button-skeleton" style="height: 50px;"></div></div><div class="styles_Footer__checkoutButton__"><div class="upcart-checkout-button-container styles_CustomButton__ "><a href="/checkout" class="styles_CustomButton__fullWidth__
         styles_CustomButton__fullHight__
         UpcartDesignSettings__button upcart-checkout-button" data-disable-recharge="true">Checkout • £749.95</a></div></div></div></div></div></div><div class="upcart-backdrop styles_CartPreview__backdrop__ styles_active__" id="UpcartPopupBackDrop"></div></div>{% comment %} 
This is the app embed that merchants enable in theme editor 
{% endcomment %}

{% if block.settings.enable_app %}
  <script src="{{ 'cart-drawer.js' | asset_url }}" defer="defer"></script>
  <link rel="stylesheet" href="{{ 'cart-drawer.css' | asset_url }}">
  
  <div id="upcart-root" 
       data-settings="{{ block.settings | json | escape }}"
       data-shop="{{ shop.permanent_domain }}"
       data-money-format="{{ shop.money_format | escape }}">
  </div>

  <script>
    window.UpCartSettings = {
      enableStickyCart: {{ block.settings.enable_sticky_cart | json }},
      enableFreeShipping: {{ block.settings.enable_free_shipping | json }},
      freeShippingThreshold: {{ block.settings.free_shipping_threshold | json }},
      cartPosition: "{{ block.settings.cart_position }}",
      cartIcon: "{{ block.settings.cart_icon }}",
      backgroundColor: "{{ block.settings.background_color }}",
      textColor: "{{ block.settings.text_color }}",
      buttonColor: "{{ block.settings.button_color }}",
      enableUpsells: {{ block.settings.enable_upsells | json }},
      shippingMessage: "{{ block.settings.shipping_message }}",
      shippingSuccessMessage: "{{ block.settings.shipping_success_message }}",
      showOnlyOnCartPage: {{ block.settings.show_only_on_cart_page | json }},
      shopDomain: "{{ shop.permanent_domain }}"
    };
  </script>
{% endif %}

{% schema %}
{
  "name": "UpCart Cart Drawer",
  "target": "body",
  "settings": [
    {
      "type": "header",
      "content": "General Settings"
    },
    {
      "type": "checkbox",
      "id": "enable_app",
      "label": "Enable UpCart",
      "default": true
    },
    {
      "type": "header",
      "content": "Sticky Cart Settings"
    },
    {
      "type": "checkbox",
      "id": "enable_sticky_cart",
      "label": "Enable Sticky Cart Button",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_only_on_cart_page",
      "label": "Show only on cart page",
      "default": true,
      "info": "If enabled, the cart drawer will only appear on the cart page"
    },
    {
      "type": "select",
      "id": "cart_position",
      "label": "Cart Position",
      "options": [
        {
          "value": "bottom-right",
          "label": "Bottom Right"
        },
        {
          "value": "bottom-left",
          "label": "Bottom Left"
        },
        {
          "value": "middle-right",
          "label": "Middle Right"
        },
        {
          "value": "middle-left",
          "label": "Middle Left"
        }
      ],
      "default": "bottom-right"
    },
    {
      "type": "select",
      "id": "cart_icon",
      "label": "Cart Icon Style",
      "options": [
        {
          "value": "bag",
          "label": "Shopping Bag"
        },
        {
          "value": "cart",
          "label": "Shopping Cart"
        },
        {
          "value": "basket",
          "label": "Basket"
        }
      ],
      "default": "cart"
    },
    {
      "type": "header",
      "content": "Free Shipping Bar"
    },
    {
      "type": "checkbox",
      "id": "enable_free_shipping",
      "label": "Enable Free Shipping Bar",
      "default": true
    },
    {
      "type": "number",
      "id": "free_shipping_threshold",
      "label": "Free Shipping Threshold ($)",
      "default": 100
    },
    {
      "type": "text",
      "id": "shipping_message",
      "label": "Shipping Message",
      "default": "You're {amount} away from free shipping!"
    },
    {
      "type": "text",
      "id": "shipping_success_message",
      "label": "Free Shipping Achieved Message",
      "default": "🎉 Congratulations! You've unlocked free shipping!"
    },
    {
      "type": "header",
      "content": "Styling"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text Color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "id": "button_color",
      "label": "Button Color",
      "default": "#4CAF50"
    },
    {
      "type": "header",
      "content": "Upsells & Cross-sells"
    },
    {
      "type": "checkbox",
      "id": "enable_upsells",
      "label": "Enable Product Upsells",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_quantity_breaks",
      "label": "Enable Quantity Breaks",
      "default": false
    }
  ]
}
{% endschema %}
